__pycache__/
.bash_history
.cache
.dotnet
.gitconfig
.gnupg/
.ipython/
.jupyter/
.local
.hypothesis/
.ssh/
.viminfo
.vscode-server/
.tox/
.pytest_cache/
.python_history
*.cover
*.json
*.txt
*.pickle
jupyter_log/